
  body { 
      font:system; 
      /*background: #AAAAAA url(logoCP2.png) no-repeat 100% 100%; */
      background: #AAAAAA url(logoCP2.png) no-repeat bottom 1dip right 5dip;
      font:12pt monospace;
      color:white;
	  }

section {
	background-color: #777777;
        border-radius: 5px; 
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
        padding: 1px;
}

  h2 {
      //border-radius: 5px; 
	  border:0px solid #000000; 
	  margin-top: 5px; 
	  margin-bottom: 5px; 
	  padding: 0px;
  	  background-color: #AAAAAA;
	  color: #FFFFFF;
	  font:system;
          font-size:16px;
          font-weight:bold;
	  text-align:center;
	  //width:80%; 
	  }

P { FONT-FAMILY:Verdana; FONT-SIZE:10pt; width:*;  }

code { 
/*FONT-FAMILY:Verdana;*/
      font:system;
      font-size:16px;
      font-weight:bold;
	}
/*--------------------------------------*/

